{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * PerForm plugin for Craft CMS 3.x
 *
 * Plugin Settings Input
 *
 * @author    Oto Hlincik
 * @copyright Copyright (c) 2018 Perfectus Digital Solutions
 * @link      https://perfectus.us
 * @package   PerForm
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("perfectus\\perform\\assetbundles\\cp\\PerFormCPAsset") %}

<h2>{{ 'Test Email Delivery Settings'|t('perform') }}</h2>

{{ '<a href="https://mailtrap.io/" target="_blank">Mailtrap</a> offers a very generous free tier and is an excellent tool for testing your email delivery templates and form submissions. It will be used whenever you enable **Test Mode** in your _Form Settings_.'|t('perform')|md }}

{{ forms.checkboxField({
    label: "Use Mailtrap"|t('perform'),
    id: 'testWithMailtrap',
    name: 'testWithMailtrap',
    checked: settings.testWithMailtrap,
    toggle: 'auth-credentials'
}) }}

<div id="auth-credentials" class="nested-fields{% if not settings.testWithMailtrap %} hidden{% endif %}">
    {{ forms.textField({
        label: "Username"|t('app'),
        id: 'testUsername',
        name: 'testUsername',
        value: (settings.testUsername is defined) ? settings.testUsername : '',
        errors: (settings.testUsername is defined) ? settings.getErrors('testUsername') : ''
    }) }}

    {{ forms.passwordField({
        label: "Password"|t('app'),
        id: 'testPassword',
        name: 'testPassword',
        value: (settings.testPassword is defined) ? settings.testPassword : '',
        errors: (settings.testPassword is defined) ? settings.getErrors('testPassword') : ''
    }) }}
</div>

<hr>

<h2>{{ 'Client Side Validation'|t('perform') }}</h2>

{{ '<a href="http://parsleyjs.org/" target="_blank">Parsley</a> provides you with a powerful client side form submission validation. **It relies on jQuery (>= 1.8), and it will need to be included before including Parsley.** Check the _PerForm_ docs for additional information.'|t('perform')|md }}

{{ forms.checkboxField({
    label: "Use Parsley Client Side JS Validation"|t('perform'),
    id: 'parsleyClientSideValidation',
    name: 'parsleyClientSideValidation',
    checked: settings.parsleyClientSideValidation
}) }}

<hr>

<h2>{{ 'Google Invisible reCAPTCHA Configuration'|t('perform') }}</h2>

{{ 'Turn on this setting to enable powerful spam protection for your form submissions.'|t('perform') }}
{{ forms.checkboxField({
    label: "Use Google Invisible reCAPTCHA"|t('perform'),
    id: 'googleInvisibleCaptcha',
    name: 'googleInvisibleCaptcha',
    checked: settings.googleInvisibleCaptcha,
    toggle: 'captcha-credentials'
}) }}

<div id="captcha-credentials" class="nested-fields{% if not settings.googleInvisibleCaptcha %} hidden{% endif %}">
    {{ '<a href="https://www.google.com/recaptcha/admin#list" target="_blank">Create the keys</a> for this site and input them below.'|t('perform')|md }}

    {{ forms.textField({
      label: "Captcha Site Key"|t('perform'),
      id: 'googleCaptchaSiteKey',
      name: 'googleCaptchaSiteKey',
      instructions: 'Input the Google reCaptcha **Site key**.',
      value: (settings.googleCaptchaSiteKey is defined) ? settings.googleCaptchaSiteKey : '',
      errors: (settings.googleCaptchaSiteKey is defined) ? settings.getErrors('googleCaptchaSiteKey') : ''
    }) }}

    {{ forms.passwordField({
      label: "Captcha Secret Key"|t,
      id: 'googleCaptchaSecretKey',
      name: 'googleCaptchaSecretKey',
      instructions: 'Input the Google reCaptcha **Secret key**.'|t('perform'),
      value: (settings.googleCaptchaSecretKey is defined) ? settings.googleCaptchaSecretKey : '',
      errors: (settings.googleCaptchaSecretKey is defined) ? settings.getErrors('googleCaptchaSecretKey') : ''
    }) }}
</div>

<hr>

<h2>Custom Email Templates</h2>

{{ 'PerForm comes with a built in template for sending your form submissions. Feel free to set up your own custom email templates. Check the _PerForm_ docs for additional information.'|t('perform')|md }}

{{ forms.textField({
  label: "Custom Email Templates Path"|t('perform'),
  id: 'customEmailTemplatesPath',
  name: 'customEmailTemplatesPath',
  instructions: 'Specify a path relative to your front-end templates folder where your custom Email templates are located.'|t('perform'),
  value: (settings.customEmailTemplatesPath is defined) ? settings.customEmailTemplatesPath : '',
  errors: (settings.customEmailTemplatesPath is defined) ? settings.getErrors('customEmailTemplatesPath') : ''
}) }}
