{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * PerForm plugin for Craft CMS 3.x
 *
 * Form Submission Detail
 *
 * @author    Oto Hlincik
 * @copyright Copyright (c) 2018 Perfectus Digital Solutions
 * @link      https://perfectus.us
 * @package   PerForm
 * @since     1.0.0
 */
#}
{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("perfectus\\perform\\assetbundles\\cp\\PerFormCPAsset") %}

{% set title = subject %}

{% set crumbs = [
    { label: "Form Submissions"|t('perform'), url: url('perform') },
] %}

{% block content %}
    {% for field in fields %}
        {% if field.label == '__section__' %}
            <h2 class="perform--section-heading">{{ field.value }}</h2>
        {% else %}
            <p>
                <strong>{{ field.label }}</strong><br>
                {% if field.value is not defined %}
                    <span class="light">-- Not Available --</span>
                {% elseif field.value is empty %}
                    <span class="light">-- Not Available --</span>
                {% else %}
                    {% if field.value[0] is not defined and field.value is not empty %}
                        {{- field.value -}}
                    {% else %}
                        {% for option in field.value %}
                            {{- option }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </p>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block details %}
    <div class="meta">
        <h3>Recipients</h3>
        <ul>
            {% for recipient in recipients %}
                <li>{{ recipient }}</li>
            {% endfor %}
        </ul>
    </div>
    {% if replyTo is not empty %}
        <hr>
        <div class="meta">
            <h3>Reply To</h3>
            <div class="value"><a href="mailto:{{ replyTo }}">{{ replyTo }}</a></div>
        </div>
    {% endif %}
    <hr>
    <div class="meta">
        <h5 class="heading">{{ "Form Title"|t('perform') }}</h5>
        <div class="value">{{ formTitle }}</div>
        <h5 class="heading">{{ "Form Handle"|t('perform') }}</h5>
        <div class="value">{{ formHandle }}</div>
    </div>
    <div class="meta read-only">
        <div class="data">
            <h5 class="heading">{{ "Submitted"|t('perform') }}</h5>
            <div class="value">{{ dateCreated|datetime('short') }}</div>
        </div>
    </div>
{% endblock %}
