{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("tungsten\\webform\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set title = subject %}

{% block actionButton %}

{% endblock %}

{% set crumbs = [
  { label: "WebForm Submissions"|t('webform'), url: url('webform') },
] %}

{% block content %}
    {% for field in fields %}
      {% if field.value == '__section__' %}
        <h2 class="webform--section-heading">{{ field.label }}</h2>
      {% else %}
        <p>
          <strong>{{ field.label }}</strong><br>
          {{ field.value }}
        </p>
      {% endif %}
    {% endfor %}
{% endblock %}

{% block details %}
    <div class="meta">
      <h3>Recipients</h3>
      <ul>
        {% for recipient in recipients|split(',') %}
          <li>{{ recipient }}</li>
        {% endfor %}
      </ul>
    </div>
    <hr>
    <div class="meta">
      <h5 class="heading">{{ "Form Title"|t('webform') }}</h5>
      <div class="value">{{ formTitle }}</div>
      <h5 class="heading">{{ "Form Handle"|t('webform') }}</h5>
      <div class="value">{{ formHandle }}</div>
    </div>
    <div class="meta read-only">
        <div class="data">
            <h5 class="heading">{{ "Submitted"|t('webform') }}</h5>
            <div class="value">{{ submitted|datetime('short') }}</div>
        </div>
    </div>
{% endblock %}
