{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * PerForm plugin for Craft CMS
 *
 * Form Settings Field Input
 *
 * @author    Oto Hlincik
 * @copyright Copyright (c) 2018 Perfectus Digital Solutions
 * @link      https://perfectus.us
 * @package   PerForm
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% namespace name %}
    <div id="{{ id }}" class="field perform--field">
        {{ forms.textField({
            label: 'Form Title'|t('perform'),
            instructions: 'Provide a user-friendly label to identify the Form Submissions on the listing page in Control Panel.'|t('perform'),
            id: 'formTitle',
            name: 'formTitle',
            maxlength: 35,
            value: value.formTitle,
            required: true,
            placeholder: 'Contact Form'|t('perform'),
        }) }}

        {{ forms.textField({
            label: 'Form Handle'|t('perform'),
            instructions: 'The **Form Handle** is used to indicate which template should be used to render the form and email notification. In case the templates for this form handle do not exist, the **Default** templates will be used instead.'|t('perform'),
            id: 'formHandle',
            class: 'code',
            name: 'formHandle',
            value: value.formHandle,
            required: true,
            placeholder: 'contactForm',
        }) }}

        {{ forms.textField({
            label: 'Form Subject'|t('perform'),
            instructions: 'The **Form Subject** is displayed on the form submissions listing in the Control Panel. It is also used as the **Email Subject** in the email notification. Include the content of any Form Field that appears in the form using the following format {{ fieldHandle.value }}'|t('perform'),
            id: 'formSubject',
            name: 'formSubject',
            value: value.formSubject,
            required: true,
            placeholder: 'Form submission from {{ fullName.value }}'|t('perform'),
        }) }}

        {{ forms.textField({
            label: 'Notification Recipients',
            instructions: 'The **email addresses** that should receive the form submission notification. Separate multiple email addresses using a comma.'|t('perform'),
            id: 'notificationRecipients',
            name: 'notificationRecipients',
            value: value.notificationRecipients,
            required: true,
            placeholder: 'user1@example.com, user2@domain.com'|t('perform'),
        }) }}

        {{ forms.textField({
            label: 'Notification ReplyTo'|t('perform'),
            instructions: 'Specify the email address that will be used when replying to the form submission notification email. You can reference an email address collected within the form using the following format {{ fieldHandle.value }}. Leave empty to ignore this setting.'|t('perform'),
            id: 'notificationReplyTo',
            name: 'notificationReplyTo',
            value: value.notificationReplyTo,
            placeholder: '{{ email.value }}',
        }) }}

        {{ forms.lightswitchField({
            label: 'Test Mode Enabled'|t('perform'),
            labelId: 'testModeEnabled-label',
            instructions: 'When enabled, the form submission status is set to **Test** and is delivered using the **Test Email Delivery Settings**.'|t('perform'),
            id: 'testModeEnabled',
            name: 'testModeEnabled',
            on: value.testModeEnabled ? true : false,
            value: 1,
        }) }}
    </div>
{% endnamespace %}

{% if value is empty or value.formHandle is empty %}
    {% js %}
        new Craft.HandleGenerator('#{{ nameSpacedId ~ '-formTitle' }}', '#{{ nameSpacedId ~ '-formHandle' }}');
    {% endjs %}
{% endif %}
