{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * PerForm plugin for Craft CMS 3.x
 *
 * Plugin Widget Body Template
 *
 * @author    Oto Hlincik
 * @copyright Copyright (c) 2018 Perfectus Digital Solutions
 * @link      https://perfectus.us
 * @package   PerForm
 * @since     1.0.0
 */
#}

{% set widgetLogoUrl = view.getAssetManager().getPublishedUrl('@perfectus/perform/assetbundles/cp/dist', true) ~ '/img/icon.svg' %}

{% macro pluralize(label, count) %}
    {% if count == 1 %}
        {{- label -}}
    {% else %}
        {{- label -}}s
    {% endif %}
{% endmacro %}
{% import _self as macros %}

<div class="readable perform--centered">
    <img class="perform--widget-logo" src="{{ widgetLogoUrl }}" />
    {% if allSubmissionsCount > 0 %}
        {% if newSubmissionsCount == 0 %}
            <p class="perform--no-submissions">There are no new submissions</p>
        {% else %}
            <p class="perform--new-submissions">
                {{ newSubmissionsCount }}
                New {{ macros.pluralize('Submission', newSubmissionsCount) }}
            </p>
        {% endif %}
        <p>
            {{ allSubmissionsCount }} {{ macros.pluralize('Submission', allSubmissionsCount) }}
            Total
        </p>
        {% if currentUser.can('accessplugin-perform') %}
            <div class="secondary-buttons">
                <a class="btn small submit" href="{{ url('perform') }}">View</a>
            </div>
        {% endif %}
        {% if currentUser.can('utility:perform-utility') %}
            {% if testSubmissionsCount > 0 %}
                <hr>
                <p class="perform--test-submissions">
                    {{ testSubmissionsCount }}
                    Test {{ macros.pluralize('Submission', testSubmissionsCount) }}
                </p>
                <div class="secondary-buttons">
                    <a class="btn small submit" href="{{ url('utilities/perform-utility') }}">Manage</a>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <p class="perform--no-submissions">There are no submissions</p>
    {% endif %}
</div>
